<%= form_for(@taskk) do |f| %>
  <% if @taskk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taskk.errors.count, "error") %> prohibited this taskk from being saved:</h2>

      <ul>
      <% @taskk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :is_completed_toggle %><br>
    <%= f.check_box :is_completed_toggle %>
  </div>
  <div class="field">
    <%= f.label :task_list_id %><br>
    <%# the method is "collection_select" this is causing the page to crash %>
    <%= f.collection_select :task_list_id, TaskList.all, :id, :name, prompt:true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
