<p id="notice"><%= notice %></p>

<h1>Listing Taskks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Due date</th>
      <th>Is completed toggle</th>
      <th>Task list</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taskks.each do |taskk| %>
      <tr>
        <td><%= taskk.title %></td>
        <td><%= taskk.description %></td>
        <td><%= taskk.priority %></td>
        <td><%= taskk.due_date %></td>
        <td><%= taskk.is_completed_toggle %></td>
        <td><%= taskk.task_list %></td>
        <td><%= link_to 'Show', taskk %></td>
        <td><%= link_to 'Edit', edit_taskk_path(taskk) %></td>
        <td><%= link_to 'Destroy', taskk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taskk', new_taskk_path %>
